bokeh==0.12.14
certifi==2018.1.18
click==6.7
Flask==0.12.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.2
packaging==17.1
pandas==0.22.0
pyparsing==2.2.0
python-dateutil==2.7.0
pytz==2018.3
PyYAML==3.12
six==1.11.0
tornado==5.0
Werkzeug==0.14.1
