body {
  font-family: Arial, Helvetica, sans-serif;
}

header p {
  display: inline;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  margin-bottom: 1em;
}

.reload {
  display: none;
}

.start-date, .end-date {
  padding-left: 1em;
}

.error {
  display: none;
  color: red;
}

iframe {
  width: 100vw;
  height: 100vh;
  min-width: 650px; 
  min-height: 650px;
}
