<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Assessment Progress</title>
    <link rel="shortcut icon" type="image/png" href="./static/favicon.png"/>
    <link rel="stylesheet" href="./static/style.css" type="text/css" media="all" />
  </head>
  <body>
    <header>
      <h2>Student Assessment Progress</h2> 
      <p class="dropdown"></p>
      <p class="loading"> loading... </p>
    </header>
    <main>
      <iframe frameBorder="0"></iframe>
    </main>
    <script src="./static/lz-string.js"></script>
    <script src="./static/app.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
